<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlueSkyFM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4ACD8A741E826BFE007BDDCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ACD8A8D1E826BFE007BDDCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ACD8A981E826BFE007BDDCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
